<header class="header">
  <% if has_sidebar? %>
    <button class="header-toggler d-md-none px-0" type="button" data-sidebar-id="left_sidebar" style="width: 30px;">
      <span class="header-toggler-icon"></span>
    </button>
  <% end %>
  <div class="header-brand me-0 text-center" style="width: 14rem;">
    <%= link_to root_path, class: "text-reset text-decoration-none" do %>
      <%= t("layouts.header.brand") %>
    <% end %>
  </div>
  <% if has_sidebar? %>
    <button class="header-toggler d-none d-md-block px-0" type="button" data-sidebar-id="left_sidebar" style="width: 30px;">
      <span class="header-toggler-icon"></span>
    </button>
  <% end %>
  <ul class="header-nav d-none d-md-flex ms-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="javascript:void(0);" role="button" id="dropdownMenuLink" data-coreui-toggle="dropdown" aria-expanded="false">
        <%= current_user.email %>
      </a>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
        <% if current_user.admin? %>
          <%= link_to t("layouts.header.account_menu.admin"), admin_root_path, class: "dropdown-item" %>
        <% end %>
        <%= link_to t("layouts.header.account_menu.profile"), account_profile_path, class: "dropdown-item" %>
        <%= link_to t("layouts.header.account_menu.sign_out"), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </li>
  </ul>
  <% if has_aside? %>
    <button class="header-toggler aside-menu-toggler px-0" type="button" data-aside-id="right_aside" style="width: 30px;">
      <span class="header-toggler-icon"></span>
    </button>
  <% end %>
</header>
